body {
    max-width: 40em;
    margin: 0 auto;
    padding: 5px;
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 30px;
    color: #000;
}

h1,
h2,
h3 {
    font-family: Georgia, serif;
    font-weight: normal;
}

.content-section {
    margin: 3em 0;
}

.my-image {
    width: 640px; /* Set desired width */
    height: auto; /* Maintains aspect ratio */
}

a {
    color: purple; /* Default link color, replace with your desired color */
    text-decoration: none; /* Optional: remove underline */
}

a:visited {
    color: purple; /* Replace with your desired color for visited links */
}

a:hover {
    text-decoration: underline; /* Add underline on hover */
    color: none; /* Inherit color from the default state */
}

a:active {
    color: orange; /* Replace with your desired color for active state */
}

/* General blockquote styling */
blockquote {
    font-style: italic;
    color: #555555;
    border-left: 5px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "“" "”" "‘" "’";
}

blockquote:before {
    content: open-quote;
    font-size: 2em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    color: #ccc;
}

blockquote:after {
    content: close-quote;
    font-size: 2em;
    line-height: 0.1em;
    margin-left: 0.25em;
    vertical-align: -0.4em;
    color: #ccc;
}

/* Styling for quotes within a paragraph */
q {
    quotes: "“" "”" "‘" "’";
}

q:before {
    content: open-quote;
    color: #ccc;
}

q:after {
    content: close-quote;
    color: #ccc;
}

/* list styling */
.list {
    list-style-type: disc; /* Bullet points */
    margin-left: 20px; /* Indentation */
}

/* Styling for list items within .list */
.list li {
    margin-bottom: 10px; /* Space between questions */
    color: #333; /* Text color */
}

 /* Footer styles */
 footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: 0.9em;
    color: #555;
}